@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    top: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #F9FCF8;
    overflow-x: hidden;
}
.nav-items{
    padding: 0px 15px;
    font-size: 18px;
}
.navbar a{
    margin-left: 2%;
}
.navbar-brand p{
    font-family: cursive;
    font-size: 13px;
    color: white;
    margin-top: -10%;
    margin-left: 30%;
}
.navbar-brand img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.navbar-brand{
    margin: -10px;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.welcome{
    margin-top: 8%;
    margin-left: 2%;
    float: right!important;
}
.welcome img{
    width: 500px;
    height: 650px;
}
.aboutmessage{
    margin-top: 23%;
    margin-left: 6%;
    float: right;
}
.aboutmessage .title{
    font-size: 44px;
    color: #202020;
    font-family: 'Roboto Condensed', sans-serif;
}
.aboutmessage h3{
    font-size: 18px;
    font-family: 'Abel', sans-serif;
    color: #808080;
}
.aboutmessage .counters{
    display: inline-block;
    margin: 12px;
    text-align: center;
}
.aboutmessage p{
    font-size: 17px;
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.counter{
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: #8BC063;
}
.aboutmessage button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    background-color: #8BC063;
    outline: none;
    border: none;
}
.ourstory{
    margin-top: 10%;
}
.ourstory .title{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
}
.ourstory h2{
    text-align: center;
    font-size: 23px;
    padding-top: 28px;
}
.vl{
  border-left: 1px solid #C1C1C0;
  height: 400px;
  position: relative;
  left: 50%;
  margin-left: -3px;
  top: 150%;
}
.story1{
    margin-top: -20%;
}
.story1 h2{
    font-size: 25px;
    font-family: cursive;
    color:#C1C1C0;
    font-weight: bold;
}
.story1 h3{
    font-size: 28px;
    margin-left: 30%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.story1 p{
    font-size: 15px;
    margin-left: 15%;
}
.story1 img{
    float: right;
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin-top: -10%;
    margin-right: 10%;
}
.vertical{
    margin-top: 32%;
}
.vertical.vl{
    border-left: 1px solid #C1C1C0;
    height: 800px;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: 150%;
}
.story2 h4{
    text-align: center;
    font-size: 23px;
    padding-top: 28px;
}
.story2{
    margin-top: -30%;
}
.story2 img{
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin-top: -55%;
    margin-left: 20%;
}
.story2 h3{
    float: right;
    font-size: 28px;
    margin-top: -40%;
    margin-right: 30%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.story2 p{
    float: right;
    margin-top: -32%;
    font-size: 15px;
    margin-left: 15%;
}