*{
    top: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav-items{
    padding: 0px 15px;
    font-size: 18px;
}
.navbar a{
    margin-left: 2%;
}
.navbar-brand p{
    font-family: cursive;
    font-size: 13px;
    color: white;
    margin-top: -10%;
    margin-left: 30%;
}
.navbar-brand img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.navbar-brand{
    margin: -10px;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.carousel-item{
    height: 40rem;
    background-color: grey;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}
.slides{
    position: absolute;
    left: 16%;
    right: 0;
    margin-top: 30%;
}
.slides p{
    font-size: 40px;
    font-family: sans-serif;
}
.carousel-indicators{
    margin-top: 45%;
}
.carousel-control-next-icon{
    color: #FFFFFF;
    width: 40px;
    height: 40px;
}
.carousel-control-prev-icon{
    color: #FFFFFF;
    width: 40px;
    height: 40px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
.card1{
    margin-top: 8%;
}
.menutitle h1{
    text-align: center;
    color: #A0A0A0;
    font-weight: bolder;
    
}
.menu{
    margin-top: 5%;
    border-radius: 10px;
}